{% extends "base.html" %} {% block title %}
<title>Meals</title>
{% endblock title %} {% block content %}

<div class="container my-3">
  <div class="row">
    <div class="col-8 h-50">
      <div class="border h-50 border-4 border-dark">
        <img src="{{Thumb}}" alt="{{Name}}"  class="h-75"/>
      </div>
    </div>
    <div class="col-4 h-50">
      <p>Name : {{Name}}</p>
      <p>Drink : {{Drink}}</p>
      <p>Category : {{Category}}</p>
      <p>Area : {{Area}}</p>
      <p>Tags : {{Tags}}</p>
      <div class="d-grid">
        <a href="{{Youtube}}" class="btn btn-outline-dark">Youtube</a>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <p><span class="fw-bold">Instruction</span>: {{Instruction}}</p>
  </div>
  <div class="my-3">
    <h1>Ingredients :</h1>
    {% for ing,measure in mylist %} {% if ing and ing.strip %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="flexCheckDefault" />
      <label class="form-check-label" for="flexCheckDefault">
        {{measure}} - {{ing}}
      </label>
    </div>
    {% endif %} {% endfor %}
  </div>

</div>

{% endblock content %}
